body{
background-color: gray;
}
#score{
    font-size: 11px;
    margin-left: 10px;

}
#time{
    font-size: 11px;
    float:right;
    margin-right:20px;

}
#showSketch{
float:right;

}

